<nav class="navbar navbar-light bg-light">
<!--  <span class="navbar-brand">TestGuru Admin Panel</span>-->
  <div class="navbar-brand">
    <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  </div>

  <div class="navbar-text mt-2">
    <h5>Admin Panel</h5>
  </div>

  <div class="navbar-text">
    Welcome, <b><%= current_user.first_name %></b> |
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </div>

</nav>