<div class="row mt-3">
  <div class="col">
    <% flash.each do |key, message| %>
      <% if key == "notice" %>
        <%= content_tag :div, message, class: "alert alert-info", role: "alert" %>
      <% elsif key == "alert" %>
        <%= content_tag :div, message, class: "alert alert-danger", role: "alert" %>
      <% else %>
        <%= content_tag :div, message, class: "alert alert-#{key}", role: "alert" %>
      <% end %>
    <% end %>
  </div>
</div>
