<footer style="height: 8.75rem; bottom: 0" class="bg-light pt-3 text-center position-absolute w-100">
  <p>
    <span><%= current_year %>, </span>
    <span><%= github_url("Yulatax","test-guru")%> </span>
    <span>by Taxidi Yuliana</span>
  </p>
  <p>
    The project is developed for creation, administration and execution of different tests.
  </p>
  <p>
    <span><%= link_to "Project idea: online school Thinknetica", "http://www.thinknetica.com", target: "_blank" %> </span>
  </p>
</footer>