<li>
  <%= answer.body %><br>
  <%= link_to t('.show_link'), admin_answer_path(answer) %>
  <%= link_to t('.edit_link'), edit_admin_answer_path(answer) %>
  <%= link_to t('.delete_link'),
              admin_answer_path(answer),
              method: :delete,
              data: { confirm: t('.delete_confirm') }
  %>
</li>