<h4 class="text-info my-3"><%= t('.edit_header', test: @test.title) %></h4>

<div class="row">
  <div class="col-6">
    <%= render 'form' %>
    <%= link_to t('.back_link'), admin_tests_path %>
  </div>
</div>
